.class-title h2 {
  color: rgb(255, 255, 255);
}

.anime {
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.right {
  width: 20vw;
  justify-content: center;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.404);
}

.left {
  width: 20vw;
  justify-content: center;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.404);
}



.player-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}



.player-wrapper .react-player {
  border: solid 0.5px rgb(70, 201, 253);
}

.arrows {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.arrows .left, .right {
  display: flex;
  background-color: white;
  align-items: center;
  text-align: center;
}

.arrows .right button {
  display: flex;
  background-color: rgb(235, 235, 235);
  align-items: center;
  text-align: center;
}

.arrows .right button[disabled] {
  opacity: 0.8;
  background-color: red;
}

.arrows .right button:hover {
  cursor: pointer;
  background-color: rgb(231, 254, 255);
}

.arrows .left button {
  display: flex;
  background-color: rgb(235, 235, 235);
  align-items: center;
  text-align: center;
}


.arrows .left:hover, .right:hover, .list:hover {
  background: rgba(201, 229, 255, 0.692);
}

@media screen and (min-width: 901px) {
  h2 {
      font-size: 1.5vw;  
      margin-top: 3vw;
  }

  .arrows .list {
    padding: 5px;
  }
  
}
  
@media screen and (min-width: 701px) and (max-width: 900px) {
  h2 {
    font-size: 2.2vw;
    margin-top: 10vw;
}
.player-wrapper {
  margin-top: 2vw;
  height: 75px;
}

.arrows .list {
  padding: 4px;
}
}

  @media screen and (min-width: 400px) and (max-width: 700px) {
    h2 {
      font-size: 2.8vw;
      margin-top: 10vw;
  }
  .arrows .list {
    padding: 3px;
  }

  .player-wrapper {
    margin-top: 2vw;
    height: 45vw;
  }
  }

  @media screen and (max-width: 399px) {
    h2 {
      font-size: 3vw;
      margin-top: 10vw;
  }
  .arrows .list {
    padding: 1px;
  }
  }