::-webkit-scrollbar {
    background-color: rgba(16, 15, 36, 0.281);
}             

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.main-header .search .txt-search{
    background-color: rgb(255, 255, 255);
    
}

.search-anime {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    padding: 10px;
}

.main-header .search .icon-search{
    color: rgb(70, 201, 253);
}

@media screen and (min-width: 700px) {
    .main-header {
        width: 100%;
        align-items: center;
        display: flex;
        background: rgb(0, 0, 0);
        justify-content: space-between;
    }

    .main-header .icon-menu {
        float: left;
        margin-left: 10px;
    }
    
    .main-header .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: rgb(70, 201, 253);
        font-size: 18px;
    }
    
    .main-header .icon-menu:hover, .icon-search:hover {
        cursor: pointer;
    }
    .main-header .search {
        margin-right: 20px;
    }

    .search-anime .input-search {
        width: 500px;
        background-color: rgb(182, 182, 182);
        border-radius: 10px;
    }

    .results-animes {
        border-radius: 10px;
        width: 500px;
        max-height: 195px;
        background-color: rgba(0, 0, 0, 0.24);
        overflow: auto;
    }

    .results-animes .results-pesquisa {
        display: flex;
        margin-top: 4px;
        background-color: rgba(0, 0, 0, 0.521);
        border-radius: 1vw;
        align-items: center;
    }

    .results-animes .results-pesquisa:hover {
        cursor: pointer;
        background-color: rgba(16, 18, 56, 0.616);
    }

    .results-animes .results-pesquisa img{
        margin-left: 1.5vw;
    }

    .results-animes .results-pesquisa strong {
        margin-left: 1vw;
        color: rgb(70, 201, 253);
    }
}

@media screen and (max-width: 699px) and (min-width: 531px) {
    .main-header {
        width: 100%;
        align-items: center;
        display: flex;
        background: rgb(0, 0, 0);
        justify-content: space-between;
    }
    
    .main-header .icon-menu {
        float: left;
    }

    .main-header .search .txt-search {
        opacity: 0;
    }
    
    .main-header .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: rgb(70, 201, 253);
        font-size: 18px;
        justify-content: center;
    }
    
    .main-header .icon-menu:hover, .icon-search:hover {
        cursor: pointer;
    }
    
    .main-header .search {
        display: flex;
        align-items: center;
        margin-right: 8vmin;
        
    }

    .search-anime .input-search {
        width: 450px;
        background-color: rgb(182, 182, 182);
        border-radius: 9px;
    }

    .results-animes {
        border-radius: 10px;
        width: 450px;
        height: 195px;
        background-color: rgba(0, 0, 0, 0.24);
        overflow: auto;
    }

    .results-animes .results-pesquisa {
        display: flex;
        margin-top: 4px;
        background-color: rgba(0, 0, 0, 0.521);
        border-radius: 1vw;
        align-items: center;
    }

    .results-animes .results-pesquisa:hover {
        cursor: pointer;
        background-color: rgba(16, 18, 56, 0.616);
    }

    .results-animes .results-pesquisa img{
        margin-left: 1.5vw;
    }

    .results-animes .results-pesquisa strong {
        margin-left: 1vw;
        color: rgb(70, 201, 253);
    }
}
@media screen and (max-width: 530px)  and (min-width: 401px) {
    .main-header {
        width: 100%;
        align-items: center;
        display: flex;
        background: rgb(0, 0, 0);
        justify-content: space-between;
    }
    
    .main-header .icon-menu {
        float: left;
    }

    .main-header .search .txt-search {
        opacity: 0;
    }
    
    .main-header .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: rgb(70, 201, 253);
        font-size: 18px;
        justify-content: center;
    }
    
    .main-header .icon-menu:hover, .icon-search:hover {
        cursor: pointer;
    }
    
    .main-header .search {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }    

    .results-animes {
        border-radius: 10px;
        width: 350px;
        height: 195px;
        background-color: rgba(0, 0, 0, 0.24);
        overflow: auto;
    }

    .results-animes .results-pesquisa {
        display: flex;
        margin-top: 4px;
        background-color: rgba(0, 0, 0, 0.521);
        border-radius: 1vw;
        align-items: center;
    }

    .results-animes .results-pesquisa:hover {
        cursor: pointer;
        background-color: rgba(16, 18, 56, 0.616);
    }

    .results-animes .results-pesquisa img{
        margin-left: 1.5vw;
    }

    .results-animes .results-pesquisa strong {
        margin-left: 1vw;
        color: rgb(70, 201, 253);
    }

    .main-header .icon-menu {
        float: left;
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px) and (min-width: 301px) {
    .main-header {
        width: 100%;
        align-items: center;
        display: flex;
        background: rgb(0, 0, 0);
        justify-content: space-between;
    }

    
    .main-header .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: rgb(70, 201, 253);
        font-size: 14px;
        justify-content: center;
    }
    
    .main-header .icon-menu:hover, .icon-search:hover {
        cursor: pointer;
    }

    .search-anime .input-search {
        width: 300px;
        background-color: rgb(182, 182, 182);
        border-radius: 7px;
    }
    .results-animes {
        border-radius: 10px;
        width: 300px;
        height: 195px;
        background-color: rgba(0, 0, 0, 0.24);
        overflow: auto;
    }

    .results-animes .results-pesquisa {
        display: flex;
        margin-top: 4px;
        background-color: rgba(0, 0, 0, 0.521);
        border-radius: 1vw;
        align-items: center;
    }

    .results-animes .results-pesquisa:hover {
        cursor: pointer;
        background-color: rgba(16, 18, 56, 0.616);
    }

    .results-animes .results-pesquisa img{
        margin-left: 1.5vw;
    }

    .results-animes .results-pesquisa strong {
        margin-left: 1vw;
        color: rgb(70, 201, 253);
    }

    .main-header .search {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .main-header .icon-menu {
        float: left;
        margin-left: 10px;
    }

}

@media screen and (max-width: 300px) {
    .main-header {
        width: 100%;
        align-items: center;
        display: flex;
        background: rgb(0, 0, 0);
        justify-content: space-between;
    }
    
    .main-header .icon-menu {
        float: left;
        margin: none;
        height: auto;
        width: auto;
    }

    .main-header .search .txt-search {
        opacity: 0;
    }
    
    .main-header .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: rgb(70, 201, 253);
    }
    .main-header .search {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .search-anime .input-search {
        width: 70vh;
        background-color: rgb(182, 182, 182);
        border-radius: 7px;
    }

    .results-animes {
        border-radius: 10px;
        width: 70vh;
        height: 195px;
        background-color: rgba(0, 0, 0, 0.24);
        overflow: auto;
    }

    .results-animes .results-pesquisa {
        display: flex;
        margin-top: 4px;
        background-color: rgba(0, 0, 0, 0.521);
        border-radius: 1vw;
        align-items: center;
    }

    .results-animes .results-pesquisa:hover {
        cursor: pointer;
        background-color: rgba(16, 18, 56, 0.616);
    }

    .results-animes .results-pesquisa img{
        margin-left: 1.5vw;
    }

    .results-animes .results-pesquisa strong {
        margin-left: 1vw;
        color: rgb(70, 201, 253);
    }

    .main-header .search {
        display: flex;
        align-items: center;
        margin-right: 8px;
    }

    .main-header .icon-menu {
        float: left;
        margin-left: 8px;
    }
}

